<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdpoem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SdPoem">
        <activity
            android:name=".ui.write.WritePoemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.game.ui.tiankong.TiankongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.my.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.my.LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.shicidb.ShowPoemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.game.BeisongActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>